.icon-inactive {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: gray;
}

.icon-active {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: green;
}

.icon-warning {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #ff851c;
}
