@import "variables";

// BootstrapTable
.react-bs-table-container {
  td {
    outline: none;
  }

  &.row-clickable table {
    > tbody > tr {
      cursor: pointer;

      &:hover {
        background-color: $table-hover-color;
      }
    }
  }
}
